*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:tahoma;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

/* flexbox */
.row{
    display:flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-items: center; */
    flex-wrap:wrap;
    align-items: center;
}

.cal-1{
    flex-basis: 100%;
}

.cal-2{
    flex-basis:50%;
    min-width:300px;
}

.cal-3{
    flex-basis:33.33%;
    min-width: 200px;
}

.cal-4{
    flex-basis:25%;
    min-width: 150px;
}

.cal-5{
    flex-basis: 20%;
    min-width: 100px;
}
/* flexbox-end */

/* ....... header */
.header{
    background:radial-gradient(#fff, #ffd6d6);
}
.container{
    max-width: 1300px;
    margin: auto;
    width: 95%;
}

.nave-ber{
    display: flex;
}

.logo img{
    width:100px;
    height:50px;
}

.logo{
    flex:1;
}

.nave{
    flex:3;
}

.nave-links{
    display:flex;
    justify-content:flex-end;
    /* flex-direction:row-reverse; */
}

.navelink a{
    margin-top:20px;
    display: block;
    color:gray;
    transition:.5s;
    margin-left:30px;
}

.navelink a:hover{
    color:#000;
}
.slaider-img img{
    width: 100%;
    height: 500px;
    padding:20px;
}
.mid-header{
    padding-top:30px;
    color:gray;
}

.slaider h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.slaider p{
    color:gray;
    font-size: 20px;
    margin-bottom:20px;
}

.button-1{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    border:1px solid transparent;
    background-color:#f46780;
    color:#fff;
    font-size:16px;
    transition: .5s;
}

.button-1:hover{
    background-color: #fff;
    color:#f46780;;
    border:1px solid #f46780;;
}

/* header end */

/* featured cetegories */

.featured{
    margin: 40px 0px;
}

.featured-box{
    width: 80%;
    margin: auto;
    padding-bottom:20px;
}

.featured-box img{
     width: 100%;
}
.small-container{
    width: 60%;
    margin: auto;
}

/* featured cetegories end */
/* featured product */

.featured-product{
    margin-top:50px;
}
.product-box{
    padding:40px 0px;
    transition:.5s;
}
.product-img{
    width:100%;
    height: 200px;
}
.product-img img{
   width: 100%;
   height:200px;
}

.title{
    text-align:center;
    color:gray;
}

.title:after{
    content: '';
    display:block;
    clear: both;
    width:100px;
    height:3px;
    margin:15px auto;
    background-color:orangered;
}

.product-box{
    width:95%;
    margin: auto;
}

.product-box h4{
    color:gray;
    margin-top:5px;
}

.product-box p{
    color:gray;
}

.rating{
    margin: 3px 0px;
    font-size: 18px ;
}

.rating i{
    color:orangered;
}

.product-container{
    margin: 40px 0px;
}

.product-box:hover{
   transform:translateY(-20px);
}
/* featured product end */

.exclusive{
    background:radial-gradient(#fff, #ffd6d6);
    padding:30px 0px;

}

.e-img{
    width: 90%;
    height: 400px;
}

.e-img img{
    width: 90%;
    height: 100%;
    filter: drop-shadow(-13px 5px 7px #000);
}

.e-box h2{
   margin:20px 0px;
   color: gray;
}

.p{
    margin-bottom: 20px;
}
/* end */
/* team */
.team{
    text-align:center;
    margin-top:100px;
}

.team-box{
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 3px gray;
    padding:10px 10px;
    transition:.5s;
    margin-bottom:;
}

.team-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:auto;
}

.team-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.icon{
    margin-bottom: 10px;
    color:orangered;
    font-size: 50px;
}

.team-box p{
    color:gray;
}

.rating-2 {
    color:orangered;
    margin: 20px 0px;

}

.team-box h3{
    margin: 10px 0px;
    color:gray;
}


.team-box:hover{
    transform:translateY(-20px);
 }

 /* end */
 /* clinte */

 .clint{
     margin-top: 100px;
     background:radial-gradient(#fff, #ffd6d6);
    padding:30px 0px;
    padding:40px 0px;
 }

 .client-box{
     width:90%;
     margin:auto;
     opacity: .8;
     transition:.3s;

 }

.client-box img{
    width:100%;
    /* margin-left: -10px; */

}

.client-box:hover{
    opacity: 1;
    cursor: pointer;
}

/* end */
/* bottom */

.footer{
    padding:50px 0px;
    margin-top: 100px;
    background:radial-gradient(#fff, #ffd6d6);

}

.f-box{
    width: 90%;
    margin: auto;
    text-align:center;
    margin-bottom: 20px;
}
.f-box h4{
    color:gray;
}

.f-box p{
    color:gray;
    margin: 20px 0px;
}


.f-box img{
   width: 100px;
   height: 30px;
}



.p-links{
    margin-top: 20px;
}

.p-links li a{
    margin-bottom: 5px;
    color:gray;
    display: block;
    transition:.5s;
}

.p-links li a:hover{
    color:#000;
}
/* end */

/* responsive */

@media only screen and (max-width:1000px){
    .small-container{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width:752px){
    .small-container{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width:670px){
    .row{
        flex-direction: column;
        align-items: center;

    }

    .cal-3{
        width: 300px;
    }
    .cal-4{
        width: 250px;
    }
    .cal-5{
        width: 200px;
    }
    .team-box{
        width: 90%;
        margin: auto;
        box-shadow: 0px 0px 3px gray;
        padding:10px 10px;
        transition:.5s;
        margin-bottom:50px;
    }

    .e-img{
        width: 60%;
        height: 300px;
        margin-bottom: 30px;
    }

    .f-box p{
        color:gray;
        margin: 10px 0px;
    }

    .p-links{
        margin-top: 10px;
    }
}